<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Panel del Profesor</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body class="profesor-page">

<header class="navbar">
    <div class="logo">School Manager</div>
    <div class="nav-links">
        <a th:href="@{/logout}">Cerrar sesión</a>
    </div>
</header>

<div class="container">
    <h2 th:text="'Bienvenido, ' + ${profesor.nombre} + ' ' + ${profesor.apellido}"></h2>
    <h3>Asignaturas que impartes:</h3>

    <div th:each="asig : ${asignaturas}">
        <h4 th:text="${asig.nombre}"></h4>
        <!--  <p th:text="${asig.descripcion}"></p>-->

        <table class="styled-table">
            <thead>
                <tr>
                    <th>Alumno</th>
                    <th>Nota Actual</th>
                    <th>Cambio de Nota</th>
                </tr>
            </thead>
            <tbody>
			    <tr th:each="alumno : ${asig.alumnos}">
			        <td th:text="${alumno.nombre + ' ' + alumno.apellido}"></td>
			        <!-- Mostrar nota actual -->
                    <td th:text="${notasMap[alumno.id + '-' + asig.id]} ?: '—'"></td>
			        <td>
			            <form th:action="@{/profesor/actualizarNota}" method="post" class="nota-form">
			                <input type="hidden" name="alumnoId" th:value="${alumno.id}">
			                <input type="hidden" name="asignaturaId" th:value="${asig.id}">
			                <input type="number" name="valor" step="0.1" min="0" max="10" placeholder="—"
			                		class="nota-input" oninput="habilitarBoton(this)">
			                <button type="submit" class="btn-guardar" disabled>Guardar</button>
			            </form>
			        </td>
			    </tr>
			</tbody>
        </table>
    </div>
</div>
<footer>
        &copy; 2025 School Manager
</footer>
</body>

<!-- Enlazamos el archivo JavaScript externo -->
<script th:src="@{/js/profesor_dashboard.js}"></script>
</html>
